
/* PAGINA QUIENES SOMOS */
    .secccion-nosotros {
        height: 100%;
        width: 100%;
    }

    .barra-bienvenida {
        width: 100%;
        height: 100px;
        background-color: #00ff3c;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .foto-bienvenida {
        width: 100%;
        /*background-image: url(./assets/foto-navidad-bienvenida.jpg);
        background-size: cover;
        background-position: center;*/
        background-color: #ff0000;
        height: 800px;
    }

    .equipo {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center;
        background-color: #ffffff;
    }
    .contenido-nosotros h2{
        text-align: center;
        font-size: 50px;
        margin-top: 20px;
        
    }

    .integrantes {
        width: 20%;
        height: 400px;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);

        background-color: rgb(255, 0, 0);
        margin: 50px;
        color: black;
        text-align: center;
    
    }