.nav{
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(160, 160, 160);
height: 80px;
width: 100%;
}

.logo{
    display: flex;
    justify-content: space-around;
    width: 5%;

}
    

.menu{
    display: flex;
    justify-content: space-around;
    width: 10%;
}

