
body {
margin: 0;
font-family: 'Montserrat', sans-serif;
background-color: rgba(0, 0, 0, 0.961);
color: aliceblue;
}

.barra-navegacion {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg,#222, #111);
    padding: 10px 20px;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 1.2rem;
}
.icon{
    font-size: 2rem;
}
.menu{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
}
.menu-item{
    position: relative;
    cursor: pointer;
}
.menu-item-drop:hover .drop-menu{
    display: block;
}
.drop-menu{
    display: none;
    position: absolute;
    top: 30px;
    background: #333;
    padding: 10px;
    border-radius: 8px;
    min-width: 120px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.drop-menu li{
    padding: 5px 10px;
    cursor: pointer;
}
.drop-menu li:hover{
    background-color: #555;
}
.boton{
    background-color: #9b59b6;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}
.boton:hover{
    background-color: #7d3c98;
}