body {background-color: rgb(182, 224, 243)}
#contenedor1 {
    
   height: 80px;
    width: 70%; 
    text-align: center; 
    font-size: 60px; 
    float: left;
    margin-left: 10px;

}
#contenedor2 {
    height:80px; 
    width: 20%; 
    border: 3%; 
    border-style: dashed; 
    border-color: 
    rgb(10, 245, 155); 
    background-color: 
    rgb(250, 250, 250); 
    text-align: center; 
    font-size: 20px;
    float: right;
    margin-right: 10px;
}
