body {
    margin: 0;
    padding: 0;

    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    #contenedor1 {
        height: 200px;
        width: 200px;
        background-color: rgb(255, 255, 255);
        justify-content: center; 
        align-items: center;     
        gap: 10px;
        flex-direction: row;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(1, 1, 1, 0.1);
        text-align: center;
        text-justify: inter-word;
    }

}