
#fila-superior {
    display: flex;
  justify-content: space-between; /* 游댳 separa ambas columnas a extremos */
  width: 100vw; /* 游댳 ancho total del viewport */
  margin: 0; /* elimina m치rgenes externos */
  gap: 20px;
  box-sizing: border-box;
}

.columna-izquierda {
  flex: 1; /* ocupa m치s espacio */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.columna-derecha {
  flex: 1; /* ocupa menos espacio que la izquierda */
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end; /* 游댳 alinea su contenido al borde derecho */
  padding-right: 20px;   /* 游댳 peque침o margen visual */
  box-sizing: border-box;
}

.columna-centro {
  position: relative;
}

.columna-centro img {
  width: 100%;
  height: 100%; /* 游댳 ocupa todo el alto */
  object-fit: cover; /* 游댳 recorta manteniendo proporci칩n */
  border-radius: 0; /* 游댳 sin bordes redondeados */
}

.columna-centro::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.6));
  pointer-events: none;
}



.tarjeta {
  width: 200px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  padding: 20px;
  color: white;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

/* Efecto hover bonito */
.tarjeta:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* Degradados */
.degradado-1 { background: linear-gradient(135deg, #44d14d, #7cf57c); }
.degradado-2 { background: linear-gradient(135deg, #4471d1, #7cb7f5); }
.degradado-3 { background: linear-gradient(135deg, #9c44d1, #dbc9f5); }
.degradado-4 { background: linear-gradient(135deg, #44d14d, #7cf57c); }
.degradado-5 { background: linear-gradient(135deg, #4471d1, #7cb7f5); }
.degradado-6 { background: linear-gradient(135deg, #9c44d1, #dbc9f5); }


/* Botones */
.btn {
  background-color: rgba(255,255,255,0.2);
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: rgba(255,255,255,0.4);
}
