body {
    margin: 0;
    padding: 0;

    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    #contenedor1 {
        display: flex;
        height: 200px;
        width: 100px;
        background-color: aqua;
        justify-content: center; 
        align-items: center;     
        gap: 10px;
        flex-direction: row;
    }

    #contenedor2 {
        display: flex;
        height: 200px;
        width: 100px;
        background-color: rgb(0, 255, 89);
        justify-content: center; 
        align-items: center;     
        gap: 10px;
        flex-direction: row;
    }

    #contenedor3 {
        display: flex;
        height: 200px;
        width: 100px;
        background-color: rgb(255, 0, 225);
        justify-content: center; 
        align-items: center;     
        gap: 10px;
        flex-direction: row;
    }
}