body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242323;
    border-color: black;
    border-radius: 10px;
    min-height: 100vh; /* usa toda la altura de la ventana */
    width: 100%; /* usa todo el ancho disponible */
}

#contenedor1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    background: radial-gradient(circle at center,rgb(78, 212, 172),white,blue,pink); /* opcional: fondo suave */
    border-radius: 15px;
    max-width: auto; /* evita que sea demasiado ancho */
    margin: auto; /* centra horizontalmente */
}

#contenedor1 img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    transition: filter 0.3s;
    object-fit: cover; /* mantiene la proporción de la imagen */
}

#contenedor1 img:hover {
    filter: brightness(80%);
}

