body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242323;
    border-color: black;
    border-radius: 10px;
    min-height: 100vh; /* usa toda la altura de la ventana */
    width: 100%; /* usa todo el ancho disponible */
}
#contenedor1 {
    display: flex;
    width: 200px;
    height: 100px;
    background-color: green;
    border-radius: 15px;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    font-weight: 1000;
    color: white;
    border-color: black;
    border-style: double;
    transition: filter 0.3s;
    
}
#contenedor1:hover {
    filter: brightness(80%);
    transform: scale(1.1);
}


#contenedor2 {
    display: flex;
    width: 200px;
    height: 100px;
    background-color: red;
    border-radius: 15px;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    font-weight: 1000;
    color: white;
    border-color: black;
    border-style: double;
}
#contenedor2:hover {
    filter: brightness(80%);
    transform: scale(1.1);
}