html {
    height: 100%; 
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-attachment: fixed; /* Mantiene el fondo fijo al desplazarse */
  background-repeat: no-repeat;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font
  background: #E6D8C5;
  background: linear-gradient(0deg, rgba(230, 216, 197, 0.63) 0%,rgba(247, 241, 233, 1) 100%);
  color: white;
}

.barra-navegacion {
  display: flex;
  align-items: center;
  background-color: #181818;
  padding: 10px 2px;
  justify-content: center;
  gap: 40px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 1.2rem;
}
  
.icon {
  font-size: 1.5rem;
}

.menu {
  list-style: none;
  display: flex;  
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 12px;
}

.menu-item {
  position:static;
  cursor: pointer;
}

.menu-item.dropdown:hover .dropdown-menu {
  display: flex ;
}

.dropdown-menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  background: #181818;
  padding: 60px 50px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  justify-content: space-around;
  align-items: flex-start; 
  vertical-align: middle;
  transition: width .75s ease;
  overflow: hidden;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;   
}

.dropdown-menu ul:hover {
  background-color: #555;
}

.btn {
  background-color: #9b59b6;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #7d3c98;
}
